<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook - Đăng nhập hoặc đăng ký</title>
    <link rel="stylesheet" href="../css/facebook.css" />
  </head>
  <body>
    <div class="container">
      <main>
        <div class="wrapper wrapper--header">
          <div class="content content--header">
            <div class="content__left">
              <h1 class="content__left__title">facebook</h1>
              <p>
                Facebook giúp bạn kết nối và chia sẻ với mọi người trong cuộc
                sống của bạn.
              </p>
            </div>
            <div class="content__right">
              <div class="content__right__form">
                <form>
                  <input
                    class="form__control"
                    type="text"
                    placeholder="Email hoặc số điện thoại"
                  />
                  <input
                    class="form__control"
                    type="text"
                    placeholder="Mật khẩu"
                  />
                  <button class="form__submit-btn" type="submit">
                    Đăng nhập
                  </button>
                  <a href="#">Quên mật khẩu</a>
                  <hr class="form__divider" />
                  <button class="form__new-account">Tạo tài khoản mới</button>
                </form>
              </div>
              <div class="content__right__footer">
                <a href="#">Tạo trang</a> dành cho người nổi tiếng, thương hiệu
                hoặc doanh nghiệp.
              </div>
            </div>
          </div>
        </div>
        <footer class="wrapper">
          <div class="content">
            <div class="footer__locale">
              <ul>
                <li>Tiếng Việt</li>
                <li>Englist</li>
                <li>Englist</li>
                <li>Englist</li>
                <li>Englist</li>
                <li>Englist</li>
                <li>Englist</li>
                <li>Englist</li>
                <li>Englist</li>
                <li>Englist</li>
                <li>Englist</li>
              </ul>
            </div>
            <div class="footer__pages">
              <ul>
                <li>Đăng ký</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
                <li>Đăng nhập</li>
              </ul>
            </div>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
